* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
}

h1 {
    font-size: 3.5vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

h2 {
    font-size: 2.5vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

h3 {
    font-size: 2vw;
    color: #53682bff;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

b {
    color: #53682bff;
}

span {
    color: red;
}

p {
    font-size: 1.20vw;
}

li {
    font-size: 1.20vw;
}

a {
    color:#adc400ff;
}

div.main_bar {
    background-color: #53682bff;
    padding-top: 0.1vw;
    padding-left: 2vw;
    padding-right: 0.1vw;
    padding-bottom: 0.1vw;
    text-align: left;
}

div.sub_bar {
    background-color:#bed600ff;
}

div.bottom_bar {
    background-color:#ecececff;
}

.small_bar {
    padding:0.5vw;
    text-align:left;
}

.title {
    font-family: Rockwell;
}

.light_font {
    color: white;
}

.left {
    float: left;
    width: 20%;
    background-color: #ecececff;
    padding: 1vw;
}

.main {
    float: left;
    width: 80%;
    padding: 0 20px;
}

@media only screen and (max-width: 700px) {
    .left, .main {
        width: 100%;
    }
    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 5vw;
    }

    h3 {
        font-size: 4vw;
    }

    p, li {
        font-size: 2.40vw;
    }
}
